
<% @posts.each do |p| %>
    
    <% if p.image_data? %>
        <p> <%= p.user.name %> </p>
        <div><%= link_to (image_tag p.image_url, :class => "img-post-feed"), p %></div>
        <p>Tittle:  <%= p.title %> </p>
        <p> Description:  <%= p.comment %> </p>

        <!-- show commentaries -->
        
        <%= render 'comments', p:p %>
        
        <%= render 'commentary_add', p:p %>
        

    <% end %>
    
<% end %>

