<div class="content">
    <h1>Post</h1>
    Username: <%= @post.user.name %>
    <div><%= image_tag @post.image_url, :class => "img-post" %></div>
    Title: <%= @post.title %> <br>
    Description: <%= @post.comment %> <br>
    <%= time_ago_in_words @post.created_at %> ago <br>
    <%= render 'comments', p:@post %>
    <%= render 'commentary_add', p:@post %>

    <% if @post.user_id == current_user.id %>
        <%= link_to "edit", edit_post_path %>
    <% end %>
</div>