<div class="content post-show">
    
    
    <div class="img-feed-wrapper center"><%= image_tag @post.image_url, :class => "img-post-feed" %></div>
    
    <div class="row mt-2">
        <div class="col-3"><span class="time-ago"><%= time_ago_in_words @post.created_at%> ago</span></div>
        <div class="col-3"><%= total_likes(@post)%> Total Likes</div> 
        <div class="col-3"> <%= render 'likes/likes', p:@post%>  </div>
        <div class="col-3">
            <% if @post.user_id == current_user.id %>
                <%= link_to "edit", edit_post_path, :class => "btn btn-secondary" %>
            <% end %>
        </div>
    </div>
    <div class="text-left border-bottom"><%= link_to @post.user.name, @post.user, :class => "user-link" %> <%= @post.title %></div>
    
    <div class="post-comment center mt-5">
    <%= render 'comments', p:@post %>
    <%= render 'commentary_add', p:@post %>
    </div>

</div>